          h1 {
            color: #002f7f;
        }  
        
        body {
            background-color: #21e3b2; 
    
        }
        div {
            width: 71.5%;
            margin: auto;
            padding: 9px;
        }